.question{
    text-align: left;
    margin: 50px;
}
hr{
    width: 50%;
    opacity: 0.4;
    color: gray;
}
.text-left{
    text-align: left;
    margin: 50px;
}




@media screen and (max-width: 1100px){

   .react{
    margin: 6px;
   }
}
